<div class="mainFondo">
    <div>
        <h1 class="titulo" @enterState>Proveedores</h1>
        <mat-form-field appearance="fill" @enterState2>
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="nombre">
        </mat-form-field>
        <mat-form-field appearance="fill" @enterState2>
            <mat-label>Categoría</mat-label>
            <mat-select [(ngModel)]="categoria">
              <mat-option [value]="" class="empty-select"></mat-option>
              <mat-option [value]="item.SupplierCategoryName" class="not-empty-select" *ngFor="let item of categorias">{{item.SupplierCategoryName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" @enterState2>
            <mat-label>Método de entrega</mat-label>
            <mat-select [(ngModel)]="metodo">
              <mat-option [value]="" class="empty-select"></mat-option>
              <mat-option [value]="item.DeliveryMethodName" class="not-empty-select" *ngFor="let item of metodos">{{item.DeliveryMethodName}}</mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-stroked-button class="filtro" @enterState2 (click)="getproveedorFill()">Filtrar</button>
    </div>
    <div>
        <mat-table [dataSource]="contenidos" class="tabla">
            <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes(element)"> {{element.SupplierName}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="categoria">
            <mat-header-cell *matHeaderCellDef> Categoría</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes(element)"> {{element.SupplierCategoryName}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="metodo">
            <mat-header-cell *matHeaderCellDef> Método de entrega</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes(element)"> {{element.DeliveryMethodName == null? "No encontrado" : element.DeliveryMethodName}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>
    </div>
</div>