<div class="mainFondo">
    <div>
        <h1 class="titulo" @enterState>Ventas</h1>
        <mat-form-field appearance="fill" @enterState2>
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-stroked-button class="filtro" @enterState2>Filtrar</button>
    </div>
    <div>
        <mat-table [dataSource]="contenidos" class="tabla">
            <ng-container matColumnDef="factura">
            <mat-header-cell *matHeaderCellDef>N° de factura</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="cliente">
            <mat-header-cell *matHeaderCellDef> Cliente</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="metodo">
                <mat-header-cell *matHeaderCellDef> Método de pago</mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="monto">
                <mat-header-cell *matHeaderCellDef> Monto</mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>
    </div>
</div>
