mat-toolbar
{
    background-color: black;
}
.Titulo
{
    cursor: pointer;
    position: relative;
    left: 60%;
    color: white;
    font-size: 2em;
}
.iconoTitulo
{
    position: relative;
    left: 2%;
    top: 0.5em;
}
.Menu
{
    border-color: white;
    background-color: transparentize;
}