<div class="main">
  <div class="botones">
    <button mat-stroked-button class="clientes" @enterState [routerLink]="['/clientes']">Clientes</button>
    <button mat-stroked-button class="proveedores" @enterState [routerLink]="['/proveedores']">Proveedores</button>
    <button mat-stroked-button class="productos" @enterState [routerLink]="['/inventarios']">Inventario</button>
    <button mat-stroked-button class="ventas" @enterState  [routerLink]="['/ventas']">Ventas</button>
    <button mat-stroked-button class="estadisticas" @enterState>Estadísticas</button>
  </div>
    <div>
      <div>
          <h1 class="tituloMain" @enterState2>Wide World Importers</h1>
          <p class="parrafoMain" @enterState2>
            Como vendedor mayorista, los clientes de WWI son en su mayoría empresas que revenden 
            a particulares. WWI vende a clientes minoristas en los Estados Unidos, incluidas tiendas 
            especializadas, supermercados, tiendas de informática, tiendas de atracciones turísticas
             y algunas personas. WWI también vende a otros mayoristas a través de una red de agentes 
             que promueven los productos en nombre de WWI. Si bien todos los clientes de WWI se 
             encuentran actualmente en los Estados Unidos, la compañía tiene la intención de impulsar 
             la expansión a otros países.
          </p>
      </div>
    </div>
</div>