<div class="fondo">
    <div>
        <table>
            <tr>
                <td class="etiqueta">N° de factura:</td>
                <td class="colum">Celda 2</td>
            </tr>
            <tr>
                <td>Fecha:</td>
                <td class="colum">Celda 5</td>      
            </tr>
        </table>
    </div>
    <br>
    <div class="blaque1">
        <table>
            <tr>
                <td class="etiqueta">Cliente:</td>
                <td class="colum1">Celda 2</td>
            </tr>
            <tr>
                <td class="etiqueta">Método de entrega:</td>
                <td class="colum1">Celda 5</td>      
            </tr>
            <tr>
                <td class="etiqueta">N° de orden:</td>
                <td class="colum1">Celda 5</td>      
            </tr>
        </table>
    </div>
    <div class="blaque2">
        <table>
            <tr>
                <td class="etiqueta">Contacto:</td>
                <td class="colum1">Celda 5</td>      
            </tr>
            <tr>
                <td class="etiqueta">Vendedor:</td>
                <td class="colum1">Celda 5</td>      
            </tr>
            <tr>
                <td class="etiqueta">Instrucciones de entrega:</td>
                <td class="colum1">Celda 5</td>      
            </tr>
        </table>
    </div>
    <div class="blaque3">
        <table class="tabla3">
            <tr>
                <td class="etiqueta">Producto:</td>
                <td class="colum2">Celda 5</td>      
            </tr>
            <tr>
                <td class="etiqueta">Cantidad:</td>
                <td class="colum2">Celda 5</td>      
            </tr>
            <tr>
                <td class="etiqueta">Precio por unidad:</td>
                <td class="colum2">Celda 5</td>      
            </tr>
            <tr>
                <td class="etiqueta">Impuesto:</td>
                <td class="colum2">Celda 5</td>      
            </tr>
            <tr>
                <td class="etiqueta">Monto del impuesto:</td>
                <td class="colum2">Celda 5</td>      
            </tr>
            <tr>
                <td class="etiqueta">Total por línea:</td>
                <td class="colum2">Celda 5</td>      
            </tr>
        </table>
    </div>
</div>