.colum
{
    text-align: right;
    border-bottom: black 1px solid;
}
.colum1
{
    text-align: right;
    width: 20%;
}
.colum1
{
    text-align: right;
    width: 50%;
}
.fondo
{
    height: 100%;
    width: 100%;
    padding: 0px;
}
.egt
{
    position: relative;
    position: center;
    width: 100%;
}
.blaque2
{
    position: relative;
    left: 40%;
    top: -15%;
    width: 40%;
}
.tabla3
{
    position: relative;
    width: 96%;
}