.colum
{
    text-align: right;
}
td
{
    border-bottom: black 1px solid;
}
.fondo
{
    height: 100%;
    width: 100%;
    padding: 0px;
}
.egt
{
    position: relative;
    position: center;
    width: 100%;
}
.mapin
{
    position: relative;
    left: 15%;
    width: 40%;
}