<div class="fondo">
    <div class="tabla">
        <table class="egt">
            <tr>
                <td>Nombre del cliente: </td>
                <td class="colum">{{data.FullName}}</td>
            </tr>
            <tr>
                <td>Categoría: </td>
                <td class="colum">{{data.CustomerCategoryName == null? "No encontrado" : data.CustomerCategoryName}}</td>      
            </tr>
            <tr>
                <td>Grupo de compra: </td>
                <td class="colum">{{data.BuyingGroupName == null? "No encontrado" : data.BuyingGroupName}}</td>      
            </tr>
            <tr>
                <td>Contacto primario: </td>
                <td class="colum">{{data.n1 == null? "No encontrado" : data.n1}}</td>      
            </tr>
            <tr>
                <td>Contacto alternativo: </td>
                <td class="colum">{{data.n2 == null? "No encontrado" : data.n2}}</td>      
            </tr>
            <tr>
                <td>Métodos de entrega: </td>
                <td class="colum">{{data.DeliveryMethodName}}</td>      
            </tr>
            <tr>
                <td>Ciudad de entrega: </td>
                <td class="colum">{{data.CityName}}</td>      
            </tr>
            <tr>
                <td>Código postal: </td>
                <td class="colum">{{data.PostalAddressLine1}}</td>      
            </tr>
            <tr>
                <td>Teléfono: </td>
                <td class="colum">{{data.PhoneNumber}}</td>      
            </tr>
            <tr>
                <td>Fax: </td>
                <td class="colum">{{data.FaxNumber}}</td>      
            </tr>
            <tr>
                <td>Días de gracia para pagar: </td>
                <td class="colum">{{data.PaymentDays}}</td>      
            </tr>
            <tr>
                <td>Sitio web: </td>
                <td class="colum"><a href="data.WebsiteURL">{{data.WebsiteURL}}</a></td>      
            </tr>
            <tr>
                <td>Dirección</td>
                <td class="colum">{{data.Adress}}</td>
            </tr>
        </table>
    </div>
    <div class="mapin">
        <google-map [center]="position">
            <map-marker [position]="position"></map-marker>
        </google-map>
    </div>
</div>
