<div class="mainFondo">
    <div>
        <h1 class="titulo" @enterState>Estadísticas</h1>
        <mat-form-field appearance="fill" @enterState2>
            <mat-label>Proveedor</mat-label>
            <input matInput [(ngModel)]="filProvee">
        </mat-form-field>
        <mat-form-field appearance="fill" @enterState2>
          <mat-label>Categoría</mat-label>
          <mat-select  [(ngModel)]="filProveedor">
            <mat-option value="altos" class="empty-select">Montos más altos</mat-option>
            <mat-option value="bajo" class="not-empty-select">Montos más bajo</mat-option>
            <mat-option value="promedio" class="not-empty-select">Compra promedio</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button class="filtro" @enterState2 (click)="filProveedores()">Filtrar</button>
    </div>
    <div>
        <mat-table [dataSource]="proveedores" class="tabla">
            <ng-container matColumnDef="Identificador">
            <mat-header-cell *matHeaderCellDef>Identificador</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element.SupplierID}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element.SupplierName}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="Categoría">
              <mat-header-cell *matHeaderCellDef> Categoría</mat-header-cell>
              <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element.SupplierCategoryName}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Compra">
            <mat-header-cell *matHeaderCellDef> Compra</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element.Quantity}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnasProveedor"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasProveedor"></mat-row>
        </mat-table>
    </div>
    <div class="conter1">
        <mat-form-field appearance="fill" @enterState2>
            <mat-label>Cliente</mat-label>
            <input matInput [(ngModel)]="filClient">
        </mat-form-field>
        <mat-form-field appearance="fill" @enterState2>
          <mat-label>Categoría</mat-label>
          <mat-select  [(ngModel)]="filCliente">
            <mat-option value="altos" class="empty-select">Montos más altos</mat-option>
            <mat-option value="bajo" class="not-empty-select">Montos más bajo</mat-option>
            <mat-option value="promedio" class="not-empty-select">Compra promedio</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button class="filtro" @enterState2 (click)="filClientes()">Filtrar</button>
    </div>
    <div>
        <mat-table [dataSource]="clientes" class="tabla2">
            <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.CustomerName}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="categoria">
            <mat-header-cell *matHeaderCellDef> Categoría</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.CustomerCategoryName}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="metodo">
            <mat-header-cell *matHeaderCellDef> Vendido</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Quantity}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>
    </div>
    <div class="conter2">
      <div class="a" @enterState2>
        <span>Año inicial: {{ano1_1}}</span>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="2013"
        max="2016" class="de1" [(ngModel)]="ano1_1"></mat-slider>
        <br>
        <span>Mes inicial: {{mes1_1}}</span>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1"
        min="1"
        max="12" class="de2" [(ngModel)]="mes1_1"></mat-slider>
      </div>
      <div class="aa" @enterState2>
        <span>Año final: {{ano2_1}}</span>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="2013"
        max="2016" class="de1" [(ngModel)]="ano2_1"></mat-slider>
        <br>
        <span>Mes final: {{mes2_1}}</span>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1"
        min="1"
        max="12" class="de2" [(ngModel)]="mes2_1"></mat-slider>
      </div>
      <button mat-stroked-button class="filtro" @enterState2 (click)="filGrafic1()">Filtrar</button>
    </div>
    <div class="canvas1">
        <canvas width="500" height="200" id="ventas"></canvas>
    </div>
    <div class="conter3">
      <div class="a" @enterState2>
        <span>Año inicial: {{ano1_2}}</span>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="2013"
        max="2016" class="de1" [(ngModel)]="ano1_2"></mat-slider>
        <br>
        <span>Mes inicial: {{mes1_2}}</span>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1"
        min="1"
        max="12" class="de2" [(ngModel)]="mes1_2"></mat-slider>
      </div>
      <div class="aa" @enterState2>
        <span>Año final: {{ano2_2}}</span>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="2013"
        max="2016" class="de1" [(ngModel)]="ano2_2"></mat-slider>
        <br>
        <span>Mes final: {{mes2_2}}</span>
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1"
        min="1"
        max="12" class="de2" [(ngModel)]="mes2_2"></mat-slider>
      </div>
        <button mat-stroked-button class="filtro" @enterState2 (click)="filGrafic2()">Filtrar</button>
      </div>
      <div class="canvas2">
          <canvas width="500" height="200" id="ventas2"></canvas>
      </div>
      <div class="conter4">
        <div class="a" @enterState2>
          <span>Año inicial: {{ano1_3}}</span>
          <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="2013"
          max="2016" class="de1" [(ngModel)]="ano1_3"></mat-slider>
          <br>
          <span>Mes inicial: {{mes1_3}}</span>
          <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1"
          min="1"
          max="12" class="de2" [(ngModel)]="mes1_3"></mat-slider>
        </div>
        <div class="aa" @enterState2>
          <span>Año final: {{ano2_3}}</span>
          <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          min="2013"
          max="2016" class="de1" [(ngModel)]="ano2_3"></mat-slider>
          <br>
          <span>Mes final: {{mes2_3}}</span>
          <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1"
          min="1"
          max="12" class="de2" [(ngModel)]="mes2_3"></mat-slider>
        </div>
        <button mat-stroked-button class="filtro" @enterState2 (click)="filGrafic3()">Filtrar</button>
      </div>
      <div class="canvas3">
          <canvas width="500" height="200" id="ventas3"></canvas>
      </div>
</div>
