.mainFondo
{
    background-color: #062f4f;
    width: 100%;
    height:510%;
}
mat-label
{
    color: white;
}
input
{
    color: white;
}
mat-form-field
{
    position: relative;
    left: 9%;
    top: 50px;
    color: white;
}
.titulo
{
    color: white;
    position: relative;
    width: fit-content;
    left: 2%;
    font-size: 3em;
    top: 20px;
}
.filtro
{
    position: relative;
    color: white;
    border-color: white;
    width: 15%;
    left: -6%;
    top:  90px;
}
.tabla
{
    overflow: auto;
    position: relative;
    top: 100px;
    width: 80%;
    height: 300px;
    left: 9%;
    background: green($color: #000000);
    border: whitesmoke 1px solid;
}
mat-header-cell
{
    color: white;
    border-bottom: whitesmoke 1px solid;
}
mat-cell
{
    color: white;
    border-bottom: whitesmoke 1px solid;
}
tr
{
    border: whitesmoke 1px solid;
}

.tabla2
{
    overflow: auto;
    position: relative;
    top: 300px;
    width: 80%;
    height: 300px;
    left: 9%;
    background: green($color: #000000);
    border: whitesmoke 1px solid;
}
.conter1
{
    position: relative;
    top: 200px;
}
.conter2
{
    position: relative;
    top: 400px;
}
.canvas1
{
    position: relative;
    top: 500px;
}
.conter3
{
    position: relative;
    top: 600px;
}
.canvas2
{
    position: relative;
    top: 700px;
}
.conter4
{
    position: relative;
    top: 800px;
}
.canvas3
{
    position: relative;
    top: 900px;
}
