<div class="mainFondo">
    <div>
        <h1 class="titulo" @enterState>Estadísticas</h1>
        <mat-form-field appearance="fill" @enterState2>
            <mat-label>Proveedor</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-stroked-button class="filtro" @enterState2>Filtrar</button>
    </div>
    <div>
        <mat-table [dataSource]="contenidos" class="tabla">
            <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="categoria">
            <mat-header-cell *matHeaderCellDef> Categoría</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="metodo">
            <mat-header-cell *matHeaderCellDef> Método de entrega</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>
    </div>
    <div class="conter1">
        <mat-form-field appearance="fill" @enterState2>
            <mat-label>Cliente</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-stroked-button class="filtro" @enterState2>Filtrar</button>
    </div>
    <div>
        <mat-table [dataSource]="contenidos" class="tabla2">
            <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="categoria">
            <mat-header-cell *matHeaderCellDef> Categoría</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="metodo">
            <mat-header-cell *matHeaderCellDef> Método de entrega</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="dialogClientes()"> {{element}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>
    </div>
    <div class="conter2">
      <mat-form-field class="fecha1">
        <mat-label>Choose a date</mat-label>
      <!-- #docregion toggle -->
        <input matInput [matDatepicker]="myDatePicker">
        <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
      <!-- #enddocregion toggle -->
      </mat-form-field>
      <button mat-stroked-button class="filtro" @enterState2>Filtrar</button>
    </div>
    <div class="canvas1">
        <canvas width="500" height="200" id="ventas"></canvas>
    </div>
    <div class="conter3">
        <mat-form-field class="fecha2">
          <mat-label>Choose a date</mat-label>
        <!-- #docregion toggle -->
          <input matInput [matDatepicker]="myDatePicker">
          <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatePicker></mat-datepicker>
        <!-- #enddocregion toggle -->
        </mat-form-field>
        <button mat-stroked-button class="filtro" @enterState2>Filtrar</button>
      </div>
      <div class="canvas2">
          <canvas width="500" height="200" id="ventas2"></canvas>
      </div>
      <div class="conter4">
        <mat-form-field class="fecha2">
          <mat-label>Choose a date</mat-label>
        <!-- #docregion toggle -->
          <input matInput [matDatepicker]="myDatePicker">
          <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatePicker></mat-datepicker>
        <!-- #enddocregion toggle -->
        </mat-form-field>
        <button mat-stroked-button class="filtro" @enterState2>Filtrar</button>
      </div>
      <div class="canvas3">
          <canvas width="500" height="200" id="ventas3"></canvas>
      </div>
</div>
