<div class="fondo">
    <div class="tabla">
        <table class="egt">
            <tr>
                <td>Nombre del cliente: </td>
                <td class="colum">Celda 2</td>
            </tr>
            <tr>
                <td>Categoría: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Grupo de compra: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Contacto primario: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Contacto alternativo: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Métodos de entrega: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Ciudad de entrega: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Código postal: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Teléfono: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Fax: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Días de gracia para pagar: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Sitio wep: </td>
                <td class="colum">Celda 5</td>      
            </tr>
            <tr>
                <td>Dirección</td>
                <td class="colum">Celda 5</td>      
            </tr>
        </table>
    </div>
</div>
